/* toast.css */
.toast {
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease;
}

.toast.success {
  background-color: #4caf50; /* Màu xanh lá cho success */
}

.toast.error {
  background-color: #f44336; /* Màu đỏ cho error */
}

.toast-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.toast.top-right {
  top: 20px;
  right: 20px;
}

.toast.top-left {
  top: 20px;
  left: 20px;
}

.toast.bottom-right {
  bottom: 20px;
  right: 20px;
}

.toast.bottom-left {
  bottom: 20px;
  left: 20px;
}

/* Slide in animation */
@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

/* Slide out animation */
@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

/* Apply animations to the cart */
.cart-sidebar {
  animation: slideIn 0.2s ease-out forwards;
}

.cart-sidebar-closing {
  animation: slideOut 0.2ss ease-in forwards;
}
